.form-container {
  background-color: #FFF2F2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background-color: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  color: #8EA7E9;
  font-weight: bold;
  font-size: 24px;
}

.title {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 22px;
}

form input {
  width: 250px;
  padding: 15px;
  border: none;
  border-bottom: #FFF2F2 1px solid;
}

form input::placeholder {
  color: rgb(175, 175, 175);
}

form button {
  background-color: #7b96ec;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.form-wrapper p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF2F2;
  font-size: 12px;
  cursor: pointer;
}