.input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  color: #645CBB;
  font-size: 18px;
}

.input input::placeholder {
  color: lightgray;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send img {
  height: 24px;
  cursor: pointer;
}

.send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #8da4f1;
  cursor: pointer;
}