.chat {
  flex: 2;
}

.chat-info {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}

.chat-icons {
  display: flex;
  gap: 10px;
}

.chat-icons img {
  height: 24px;
  cursor: pointer;
}