.navbar {
  display: flex;
  align-items: center;
  background-color: #2f2d52;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}

.logo {
  font-weight: bold;
  font-size: 14px;
}

.user {
  display: flex;
  gap: 10px;
}

.user img {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.user button {
background-color: #5d5b8d;
color: #ddddf7;
font-size: 10px;
border: none;
cursor: pointer;
}