.search {
  border-bottom: 1px solid gray;
}

.search-form {
  padding: 10px;
}

.search-form input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.search-form input::placeholder {
  color: lightgray;
}

.user-chat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
}

.user-chat:hover {
  background-color: #2f2d52;
}

.user-chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-chat-info span {
  font-size: 18px;
  font-weight: 500;
}

.user-chat-info p {
  font-size: 14px;
  font-weight: 300;
  color: lightgray;
}