.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.message-info {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.message-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-content p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.message-content img {
  width: 50%;
}

.owner {
  flex-direction: row-reverse;
}

.owner .message-content {
  align-items: flex-end;
}

.owner .message-content p {
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
}